section  {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;

    opacity: 0;
    transform: scale(0.9);
    animation: body-pop-up 1s ease-in-out forwards;
  }

  @keyframes body-pop-up {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }



  